/*  왼쪽 메뉴 - 아코디언 */

nav.accordion-menu input[type="checkbox"] {
  display: none;
}

nav.accordion-menu input[type="checkbox"] + label {
  display: block;
  padding: 10px;
  color: #555555;
  background: #dddddd;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

nav.accordion-menu input[type="checkbox"]:checked + label {
  display: block;
  color: #111111;
  cursor: pointer;
  position: relative;
}

nav.accordion-menu input[type="checkbox"] + label + div {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background: #f5f5f5;
  height: 100%;
}

nav.accordion-menu input[type="checkbox"]:checked + label + div {
  max-height: 0;
  padding: 5px 0;
  overflow: hidden;
  background: #f5f5f5;
  height: 100%;
}

nav.accordion-menu input[type="checkbox"] + label + div label {
  display: block;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
}

nav.accordion-menu input[type="checkbox"] + label + div label input[type="radio"] {
  display: none;
}

nav.accordion-menu input[type="checkbox"] + label + div label input[type="radio"]:hover + span {
  font-weight: bold;
}

nav.accordion-menu input[type="checkbox"] + label + div label input[type="radio"]:checked + span {
  color: #e63b3b;
  font-weight: bold;
}

nav.accordion-menu input[type="checkbox"]:checked + label + div {
  max-height: 100%;
}

nav.accordion-menu input[type="checkbox"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  display: inline-block;
}

nav.accordion-menu input[type="checkbox"] + label em::after {
  content: "";
  top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
  background: #dddddd;
  border-left: 3px solid #555555;
  border-bottom: 3px solid #555555;
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

nav.accordion-menu input[type="checkbox"]:checked + label em::after {
  content: "";
  top: 12px;
  border-right: 3px solid #111111;
  border-top: 3px solid #111111;
  border-left: 0;
  border-bottom: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

nav.menu input[type="checkbox"] {
  display: none;
}
