a {
  text-decoration: none;
}
select,
input {
  width: 100%;
  border: 1px solid #9e9e9e;
  height: 24px;
}

/* 헤더 */
header {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  왼쪽 메뉴 */
aside {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #f4f7f7;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  background: #f4f7f7;
  flex: 1 0 100%;
  display: flex;
  overflow-y: auto;
}

/* // 탭바 */

section {
  display: flex;
  border-left: 1px solid #1f4e5f;
}

/* Main - Form */
.main-form {
  border: 1px solid #9e9e9e;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  background: white;
}

form.col-4 > .form-row {
  display: flex;
  gap: 1px;
  border: 1px solid #9e9e9e;
  background: #9e9e9e;
}

form.col-4 > .form-row > div {
  padding: 2px;
}

form.col-4 > .form-row > div:nth-child(odd) {
  flex-basis: 150px;
  flex-grow: 0;
  font-weight: 600;
  background: #e0dddd;
  padding: 4px 10px 0 10px;
  text-align: right;
}

form.col-4 > .form-row > div:nth-child(even) {
  flex-grow: 1;
  flex-basis: 200px;
  background: #fff;
}
/* // Main - Form */

.main-grid {
  border: 1px solid #9e9e9e;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  background: white;
}
/* // Main */

.cell {
  background: yellow;
}
.redNumberCell {
  text-align: right;
  color: red;
  background-color: gainsboro;
}
.blueNumberCell {
  text-align: right;
  color: blue;
  background-color: aliceblue;
}
