/* 메뉴 숨기기 */
/* nav > div {
        display: none;
    } */

aside .logo {
  height: 36px;
  padding: 8px 24px;
  background: #c9d6de;
  border-bottom: 1px solid #1f4e5f;
}

/*  // 왼쪽 메뉴 - 아코디언 */
/*  // 왼쪽 메뉴 */

/* 탭바 */
div.tabbar {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #111111;
  border-left: 1px solid #1f4e5f;
}

div.tabbar > span {
  padding: 6px 10px;
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
  border-top: 1px solid #111111;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  margin-left: 3px;
  cursor: pointer;
}

div.tabbar > span.select {
  background: rgb(199, 199, 199);
  font-weight: bold;
}

div.tabbar > span > span.close {
  padding-left: 15px;
  padding-right: 5px;
}
